<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, class: "form-custom-label" %>
    <%= form.text_field :title, class: "form-custom-input" %>
  </div>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body, class: "form-custom-input" %>
  </div>
  <div>
    <%= form.label :category_id, class: "form-custom-label" %>
    <%= form.select :category_id, set_select_option %>
  </div>
  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
