<div class="w-full flex flex-wrap">
  <%= render 'shared/landing-image' %>
  <div class="w-full md:w-1/2 flex flex-col bg-gray-200">
    <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
      <p class="text-center text-3xl font-bold">Welcome Back</p>
      <%= form_for(resource, class: "flex flex-col pt-3 md:pt-8", as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="flex flex-col pt-4">
          <%= f.label :email, class: "text-lg" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="flex flex-col pt-4">
          <%= f.label :password, class: "text-lg" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log in", class: "w-full bg-gray-700 text-white font-bold text-lg hover:bg-gray-800 p-2 mt-8 rounded" %>
        </div>
      <% end %>
      <div class="flex flex-col">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
